
.button{
    border-radius: 200px;
}
.darkmode{
    background-color: black;
    color: white;
    border-color: black;
}
.orange_button{
    border-radius: 50%;
    height:58px ; width: 58px ;
}
.gray_button{
    border-radius: 50%;
    height:58px ;
    width: 58px ;
}
.dark_button{
    border-radius: 50%;
    height:58px ;
    width: 58px ;
}